@import '../../styles/variables';

.container__shelf {
   height: auto;

   @media(min-width:768px) {
      margin-right: 30px;
   }

   &_title {
      color: $rose-900-color;
      @include font-styles(26px, 600);
      @include reset-margin;
      padding-bottom: 30px;
   }

   &_content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;

      @media(min-width:768px) {
         grid-template-columns: repeat(3, 1fr);

      }
   }
}